<nav class="navbar navbar-expand-lg bg-danger navbar-dark fixed-top">
    <a class="navbar-brand" href="./index.html">InfluenzaNet 2.0</a>
    <div class="d-none ml-auto d-lg-block">
        <ul class="navbar-nav">
            {% for item in site.data.navigation %}
            <li class="nav-item">
                <a {% if page.url != item.link %} class="nav-link active" {% endif %} {% if page.url == item.link %}
                    class="nav-link" {% endif %} href="{{ item.link }}">
                    {{ item.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="d-lg-none ml-auto dropdown">
        <button class="navbar-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            {% for item in site.data.navigation %}
            <a
            {% if page.url == item.link %} class="dropdown-item active"  {% endif %}
            {% if page.url != item.link %} class="dropdown-item"  {% endif %}
                href="{{ item.link }}">
                {{ item.name }}
            </a>
            {% endfor %}
        </div>
    </div>
</nav>

<nav>

</nav>